@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Roboto;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px auto 0 auto;
}

@media (max-width: 992px) {
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 120px;
  }
}

.header__leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .header__leftside {
    margin-bottom: 50px;
  }
}

.header__we img {
  width: 100%;
  max-width: 45px;
  max-height: 20px;
  margin-right: 20px;
}

.header__aboutus {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: none;
  color: #5c5c5c;
  font-weight: none;
}

.header__aboutus a {
  color: inherit;
}

.header__aboutus a:hover {
  text-decoration: underline;
}

.header__center {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.header__center img {
  width: 100%;
  max-width: 120px;
  max-height: 56px;
}

@media (max-width: 992px) {
  .header__center {
    margin-top: -100px;
  }
}

.header__rightside a {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: none;
  color: #5c5c5c;
  font-weight: none;
  margin-right: 20px;
}

.header__rightside a:hover {
  text-decoration: underline;
}

.header__rightside a:nth-child(2) {
  margin-right: 10px;
}

.header__rightside a:last-child {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 10px 10px;
  margin-right: 0;
}

.header__rightside a:last-child:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.first-frame__row {
  margin-top: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 992px) {
  .first-frame__row {
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
}

.first-frame__column {
  margin-left: 40px;
  max-width: 390px;
}

@media (max-width: 992px) {
  .first-frame__column {
    margin-left: 0px;
    text-align: center;
    min-width: 280px;
    max-width: 290px;
  }
}

.first-frame__title {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 1px;
  color: #161616;
  font-weight: none;
}

@media (max-width: 992px) {
  .first-frame__title {
    margin-top: 50px;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #161616;
    font-weight: 700;
  }
}

.first-frame__subtitle {
  margin-top: 36px;
}

.first-frame__buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .first-frame__buttons {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.first-frame__download {
  background-color: #000;
  padding: 13px 28px 16px 28px;
  margin-right: 10px;
  border-radius: 25px;
}

.first-frame__download a {
  color: #fff;
}

@media (max-width: 992px) {
  .first-frame__download {
    display: none;
  }
}

.first-frame__explore {
  border: 2px solid #161616;
  border-radius: 25px;
  padding: 13px 28px 16px 28px;
}

.first-frame__explore a {
  color: #161616;
}

.first-frame__image {
  border: 30px solid #000;
  border-radius: 30px;
  right: -150px;
}

.first-frame__image img {
  width: 100%;
  max-width: 905px;
  max-height: 679px;
}

@media (max-width: 992px) {
  .first-frame__image {
    border: 10px solid #000;
    border-radius: 10px;
    position: static;
  }
  .first-frame__image img {
    max-width: 600px;
    max-height: 379px;
  }
}

.subtitle {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: none;
  color: #161616;
  font-weight: none;
}

@media (max-width: 992px) {
  .subtitle {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: none;
    color: #161616;
    font-weight: none;
  }
}

.second-frame {
  margin: 200px auto 0 auto;
}

@media (max-width: 992px) {
  .second-frame {
    margin: 50px auto 0 auto;
  }
}

.second-frame__background img {
  width: 100%;
  height: 810px;
}

@media (max-width: 992px) {
  .second-frame__background {
    opacity: 0.5;
  }
  .second-frame__background img {
    height: 300px;
  }
}

.second-frame__column {
  position: absolute;
  margin: -600px 0 0 80px;
}

@media (max-width: 992px) {
  .second-frame__column {
    margin: -300px 0 0 20px;
    padding: 50px 0px 27px 0;
    min-width: 264px;
  }
}

.second-frame__title {
  font-size: 49px;
  line-height: 54px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: none;
  margin-bottom: 46px;
}

@media (max-width: 992px) {
  .second-frame__title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
    margin-left: 15px;
  }
}

.second-frame__subtitle {
  color: #fff;
}

@media (max-width: 992px) {
  .second-frame__subtitle {
    color: #000;
    margin: 0 15px;
  }
}

.three-frame {
  margin-top: 80px;
}

.three-frame__column {
  background: url("../img/three_frame/01.png") 0 0/100% 100% no-repeat;
  padding-top: 80px;
  text-align: center;
}

@media (max-width: 992px) {
  .three-frame__column {
    padding-top: 40px;
  }
}

.three-frame__title {
  margin-top: 35px;
  font-size: 51px;
  line-height: 54px;
  letter-spacing: 1px;
  color: #161616;
  font-weight: none;
}

@media (max-width: 992px) {
  .three-frame__title {
    margin-top: 0px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #161616;
    font-weight: 700;
  }
}

.three-frame__subtitle {
  margin-top: 35px;
  margin-bottom: 515px;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .three-frame__subtitle {
    margin-bottom: 100px;
  }
}

.three-frame__pallet img {
  width: 100%;
}

.four-frame__column {
  background-color: #161616;
  text-align: center;
  padding-top: 135px;
}

@media (max-width: 992px) {
  .four-frame__column {
    padding-top: 50px;
  }
}

.four-frame__title {
  font-size: 54px;
  line-height: 54px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: none;
}

@media (max-width: 992px) {
  .four-frame__title {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 700;
  }
}

.four-frame__subtitle {
  margin-top: 35px;
  color: #fff;
}

@media (max-width: 992px) {
  .four-frame__subtitle {
    margin-top: 20px;
  }
}

.four-frame__img {
  margin-top: 100px;
  margin-bottom: 50px;
}

.four-frame__img img {
  width: 100%;
}

@media (max-width: 992px) {
  .four-frame__img {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

.five-frame {
  margin-top: 85px;
}

.five-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .five-frame__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.five-frame__img {
  border: 30px solid #000;
  border-radius: 20px;
}

.five-frame__img img {
  width: 100%;
  max-width: 780px;
  max-height: 585px;
}

@media (max-width: 992px) {
  .five-frame__img {
    border: 10px solid #000;
    border-radius: 10px;
  }
}

.five-frame__column {
  padding-left: 15px;
}

.five-frame__subtitle {
  margin-top: 35px;
}

@media (max-width: 992px) {
  .five-frame__subtitle {
    margin-top: 15px;
    text-align: center;
  }
}

.title {
  font-size: 52px;
  line-height: 54px;
  letter-spacing: 1px;
  color: #161616;
  font-weight: none;
}

@media (max-width: 992px) {
  .title {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #161616;
    font-weight: 700;
  }
}

.six-frame {
  margin-top: 85px;
}

.six-frame__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 992px) {
  .six-frame__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
  }
}

.six-frame__column {
  padding-right: 15px;
}

.six-frame__subtitle {
  margin-top: 35px;
}

@media (max-width: 992px) {
  .six-frame__subtitle {
    margin-top: 15px;
    text-align: center;
  }
}

.six-frame__img {
  border: 30px solid #000;
  border-radius: 20px;
  margin-right: -210px;
}

.six-frame__img img {
  width: 100%;
  max-width: 780px;
  max-height: 585px;
}

@media (max-width: 992px) {
  .six-frame__img {
    margin-right: 0px;
    border: 10px solid #000;
    border-radius: 10px;
  }
}

.six-frame__imgtel {
  position: absolute;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
  left: 55%;
  -webkit-transform: translateY(55%);
          transform: translateY(55%);
}

.six-frame__imgtel img {
  width: 100%;
  max-width: 180px;
  max-height: 367px;
}

@media (max-width: 992px) {
  .six-frame__imgtel {
    display: none;
  }
}

.seven-frame {
  text-align: center;
}

.seven-frame__img {
  padding-top: 200px;
  margin-bottom: 26px;
}

@media (max-width: 992px) {
  .seven-frame__img {
    padding-top: 75px;
    margin-bottom: 26px;
  }
}

.seven-frame__text {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: none;
  color: #161616;
  font-weight: none;
}

.seven-frame__download {
  padding: 4px 28px;
  background-color: #161616;
  border-radius: 20px;
  width: 150px;
  margin: 31px auto 215px auto;
}

.seven-frame__download a {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 992px) {
  .seven-frame__download {
    width: 120px;
    margin: 31px auto 50px auto;
  }
}

.footer {
  background-color: #161616;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 155px 0 155px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.footer__column:first-child img {
  width: 100%;
  max-width: 120px;
  min-height: 18px;
}

.footer__column li {
  font-size: none;
  line-height: 15px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin-bottom: 24px;
}

.footer__column li a {
  color: #fff;
}

.footer__column li a:hover {
  text-decoration: underline;
}

.footer__column:last-child img:nth-child(1) {
  width: 100%;
  max-width: 96px;
  max-height: 17px;
  margin-bottom: 20px;
}

.footer__column:last-child img:nth-child(4) {
  width: 100%;
  max-width: 120px;
  max-height: 14px;
  margin-bottom: 20px;
}

.footer__column:last-child p {
  font-size: none;
  line-height: 18px;
  letter-spacing: none;
  color: rgba(255, 255, 255, 0.7);
  font-weight: none;
  padding-bottom: 10px;
}

.footer__column:last-child a {
  font-size: none;
  line-height: 18px;
  letter-spacing: none;
  color: #fff;
  font-weight: none;
  color: #fff;
  margin-bottom: 56px;
}

.footer__column:last-child a:hover {
  text-decoration: underline;
}

.footer__namecolumn {
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.225px;
  color: #fff;
  font-weight: none;
  margin-bottom: 22px;
}

.footer__line {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer__rowtwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 24px;
}

.footer__selectlang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__selectlang select {
  font-size: 13px;
  line-height: 14px;
  letter-spacing: none;
  color: #fff;
  font-weight: none;
  background-color: #353535;
  padding: 5px 10px 5px 40px;
  border-radius: 10px;
  margin-right: 24px;
}

.footer__selectlang:before {
  content: '';
  background-image: url(../img/footer/08.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  position: relative;
  top: 0px;
  left: 30px;
}

.footer__copyright {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: none;
  color: rgba(255, 255, 255, 0.7);
  font-weight: none;
}

.footer__social img {
  width: 100%;
  max-width: 38px;
  max-height: 28px;
}
