//подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//нулевой стиль
@import 'nulestyle.scss';
//файл с миксинами
@import 'mixin.scss';

// wrapper ----------------------------------------------------------
.wrapper {
  min-height: 100%; //full screen
  overflow-x: hidden;
}
.content {
  flex: 1 1 auto;
}
.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}
// header ------------------------------------------------------------------------------
.header {
  &__row {
    @include flex(flex, none, space-between, center);
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
  }
  @media (max-width: 800px) {
    &__row {
      display: flex;
      flex-direction: column;
      margin-top: 120px;
    }
  }
  &__leftside {
    @include flex(flex, none, none, center);
  }
  @media (max-width: 800px) {
    &__leftside {
      margin-bottom: 50px;
    }
  }
  &__we {
    img {
      width: 100%;
      max-width: 45px;
      max-height: 20px;
      margin-right: 20px;
    }
  }

  &__aboutus {
    @include font(15px, 15px, none, #5c5c5c, none);
    a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__center {
    // позиционирование лого по центру
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    //................................
    img {
      width: 100%;
      max-width: 120px;
      max-height: 56px;
    }
  }
  @media (max-width: 800px) {
    &__center {
      margin-top: -100px;
    }
  }

  &__rightside {
    a {
      @include font(15px, 15px, none, #5c5c5c, none);
      margin-right: 20px;
      &:hover {
        text-decoration: underline;
      }
      &:last-child {
        background-color: #000;
        color: #fff;
        border-radius: 15px;
        padding: 10px 10px;
        margin-right: 0;
        &:hover {
          background-color: #fff;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}

// first frame -------------------------------------------------------------------------
.first-frame {
  &__row {
    margin-top: 155px;
    @include flex(flex, none, none, center);
    overflow: hidden;
  }
  @media (max-width: 800px) {
    &__row {
      margin-top: 55px;
      @include flex(flex, column-reverse, none, center);
      overflow: hidden;
    }
  }

  &__column {
    margin-left: 40px;
    min-width: 380px;
    max-width: 390px;
    @media (max-width: 800px) {
      & {
        margin-left: 0px;
        text-align: center;
        min-width: 280px;
        max-width: 290px;
      }
    }
  }

  &__title {
    @include font(80px, 80px, 1px, #161616, none);
    @media (max-width: 800px) {
      & {
        margin-top: 50px;
        // text-align: center;
        @include font(20px, 15px, 1px, #161616, 700);
      }
    }
  }

  &__subtitle {
    margin-top: 36px;
    @media (max-width: 800px) {
      & {
      }
    }
  }

  &__buttons {
    margin-top: 40px;
    @include flex(flex, none, none, center);
    @media (max-width: 800px) {
      & {
        margin-top: 25px;
        @include flex(flex, none, center, center);
      }
    }
  }

  &__download {
    background-color: #000;
    padding: 13px 28px 16px 28px;
    margin-right: 10px;
    border-radius: 25px;
    a {
      color: #fff;
    }
    @media (max-width: 800px) {
      & {
        display: none;
      }
    }
  }

  &__explore {
    border: 2px solid #161616;
    border-radius: 25px;
    padding: 13px 28px 16px 28px;
    a {
      color: #161616;
    }
  }

  &__image {
    border: 30px solid #000;
    border-radius: 30px;
    position: relative;
    right: -150px;
    img {
      width: 100%;
      max-width: 905px;
      max-height: 679px;
    }
    @media (max-width: 800px) {
      & {
        border: 10px solid #000;
        border-radius: 10px;
        position: static;
        img {
          width: 100%;
          max-width: 600px;
          max-height: 379px;
        }
      }
    }
  }
}
.subtitle {
  @include font(20px, 28px, none, #161616, none);
  @media (max-width: 800px) {
    & {
      @include font(14px, 25px, none, #161616, none);
    }
  }
}

// second frame ------------------------------------------------------------------------
.second-frame {
  margin-top: 200px;
  background-image: url(../img/second_frame/01.png);
  background-repeat: no-repeat;
  background-size: 100% 810px;

  &__column {
    margin-left: 80px;
    padding-top: 256px;
    padding-bottom: 261px;
  }

  &__title {
    @include font(49px, 54px, 1px, #fff, none);
    margin-bottom: 46px;
  }

  &__subtitle {
    color: #fff;
  }
}

// three frame -------------------------------------------------------------------------
.three-frame {
  padding-top: 80px;
  background-image: url(../img/three_frame/01.png);
  background-repeat: no-repeat;
  background-size: 100% 948px;
  min-height: 150%;

  &__column {
    @include flex(flex, column, space-between, center);
    text-align: center;
  }

  &__title {
    margin-top: 35px;
    @include font(51px, 54px, 1px, #161616, none);
  }

  &__subtitle {
    margin-top: 30px;
    margin-bottom: 515px;
    flex: 1 1 auto;
  }

  &__pallet {
    img {
      width: 100%;
    }
  }
}

// four frame --------------------------------------------------------------------------
.four-frame {
  background-color: #161616;
  &__column {
    @include flex(flex, column, none, center);
    text-align: center;
    padding-top: 135px;
  }

  &__title {
    @include font(54px, 54px, 1px, #fff, none);
  }

  &__subtitle {
    margin-top: 35px;
    color: #fff;
  }

  &__img {
    margin-top: 100px;
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
}

// five frame --------------------------------------------------------------------------
.five-frame {
  margin-top: 85px;
  &__row {
    @include flex(flex, none, space-around, center);
  }

  &__img {
    border: 30px solid #000;
    border-radius: 20px;
    img {
      width: 100%;
      max-width: 780px;
      max-height: 585px;
    }
  }

  &__subtitle {
    margin-top: 35px;
  }
}
.title {
  @include font(52px, 54px, 1px, #161616, none);
}

// six frame ---------------------------------------------------------------------------
.six-frame {
  margin-top: 85px;

  &__row {
    @include flex(flex, none, space-around, center);
    overflow: hidden;
    overflow-y: hidden;
  }

  &__subtitle {
    margin-top: 35px;
  }

  &__img {
    border: 30px solid #000;
    border-radius: 20px;
    margin-right: -210px;
    img {
      width: 100%;
      max-width: 780px;
      max-height: 585px;
    }
  }

  &__imgtel {
    position: absolute;
    transform: translateX(-55%);
    left: 55%;
    transform: translateY(55%);
    img {
      width: 100%;
      max-width: 180px;
      max-height: 367px;
    }
  }
}

// seven-frame -------------------------------------------------------------------------
.seven-frame {
  text-align: center;

  &__img {
    padding-top: 200px;
    margin-bottom: 26px;
  }

  &__text {
    @include font(16px, 20px, none, #161616, none);
  }

  &__download {
    padding: 4px 28px;

    background-color: #161616;
    border-radius: 20px;

    max-width: 10%;
    margin: 31px auto 215px auto;
    a {
      @include font(15px, 19px, none, #fff, 700);
    }
  }
}

// footer ------------------------------------------------------------------------------
.footer {
  background-color: #161616;
  &__row {
    @include flex(flex, none, space-between, flex-start);
    max-width: 100%;
    margin: 0 auto;
    padding: 80px 155px 0 155px;
  }

  &__column {
    @include flex(flex, column, space-between, none);
    &:first-child {
      img {
        width: 100%;
        max-width: 120px;
        min-height: 18px;
      }
    }
    li {
      @include font(none, 15px, none, none, none);
      a {
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
      margin-bottom: 24px;
    }
    &:last-child {
      img {
        &:nth-child(1) {
          width: 100%;
          max-width: 96px;
          max-height: 17px;
          margin-bottom: 20px;
        }
        &:nth-child(4) {
          width: 100%;
          max-width: 120px;
          max-height: 14px;
          margin-bottom: 20px;
        }
      }
    }
    &:last-child {
      p {
        @include font(none, 18px, none, rgba(255, 255, 255, 0.7), none);
        padding-bottom: 10px;
      }
      a {
        @include font(none, 18px, none, #fff, none);
        color: #fff;
        margin-bottom: 56px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__namecolumn {
    @include font(18px, 19px, 0.225px, #fff, none);
    margin-bottom: 22px;
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__rowtwo {
    @include flex(flex, row, space-around, center);
    padding-top: 25px;
    padding-bottom: 24px;
  }

  &__selectlang {
    @include flex(flex, none, none, center);
    select {
      @include font(13px, 14px, none, #fff, none);
      background-color: #353535;
      padding: 5px 10px 5px 40px;
      border-radius: 10px;
      margin-right: 24px;
    }
    &:before {
      content: '';
      background-image: url(../img/footer/08.png);
      background-repeat: no-repeat;
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
      position: relative;
      top: 0px;
      left: 30px;
    }
  }

  &__copyright {
    @include font(13px, 18px, none, rgba(255, 255, 255, 0.7), none);
  }

  &__social {
    img {
      width: 100%;
      max-width: 38px;
      max-height: 28px;
    }
  }
}
